.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

table {
  margin: 50px;
  background-color: rgb(38, 37, 51);
  color: aliceblue;
  text-align: left;
  border-collapse: collapse;
  min-width: 300px;
}
thead {
  background-color: rgb(60, 61, 78);
}

thead td {
  font-weight: 500;
}
td {
  font-size: 33px;
  padding: 10px;
  border: 1px solid blueviolet;
}
